name: Dump variables

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: git config list --local || true
      - run: git config list --global || true
      - run: git config list --system || true
      - run: cat .git/config
      - run: printenv
      - run: whoami
      - run: id -a
      - name: Print variable via vars
        run: echo ${{ vars.SOME_VARIABLE }}
      - name: Print variable via env
        run: echo ${{ env.SOME_VARIABLE }}
      - name: Print variable via $
        run: echo $SOME_VARIABLE
      - name: print git config
        run: git config --list
      - name: print git global config
        run: git config --list --global || true
      - name: print git system config
        run: git config --list --system || true
        
